.App {
  text-align: center;
}

.row {
  line-height: 0;
}

.box {
  height: 10px;
  width: 10px;
  border: solid 1px rgb(214, 214, 214);
  display: inline-block;
}

.live {
  background-color:#e91e63ed;
}